{% extends 'base.html.twig' %}

{% block title %}Bok{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Comment</th>
            <th>Organization</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ application.subject }}</td>
                <td>{{ application.comment }}</td>
                <td>{{ application.organization }}</td>
                <td>{{ application.dateAdd|date }}</td>
                <td>{{ application.status }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}